body {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4645a;
}
header img {
  width: 8rem;
  border-radius: 15%;
  transition: 1.5s;
}
header img:hover {
  border-radius: 30%;
  width: 9rem;
}
header .milinks {
  font-size: 13px;
}
header .dropmenu {
  background-color: #f4645a;
  overflow: hidden;
  font-size: 13px;
}
header .dropmenu li :hover {
  background-color: black;
  color: #f4645a;
  margin-left: 10px;
  transition: 1s;
}
header .opiniones {
  display: block;
  color: black;
  transition: 1s;
  text-decoration: none;
  width: 5rem;
  text-align: center;
  border-style: groove;
  border-color: black;
  border-radius: 10px;
  font-size: larger;
  padding: 1% 0;
}
header .opiniones:hover {
  color: #f4645a;
  background-color: black;
  border-color: #f4645a;
}

h1 {
  text-transform: capitalize;
  font-size: 4rem;
  text-align: center;
  color: #f4645a;
  font-family: "Dosis", sans-serif;
  margin-bottom: 7%;
  padding-top: 50px;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: end;
  color: #f4645a;
  font-family: "Dosis", sans-serif;
  margin: 0px 15% 5% 10px;
}

h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  color: #f4645a;
  font-family: "Dosis", sans-serif;
  margin: 0px 10px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
  height: 10rem;
  margin-top: 0;
}
.logo img {
  width: 15rem;
}

.solicite-propuesta {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #f4645a;
  background-color: #1b1b1b;
  padding: 3px;
  margin-bottom: 35px;
}

.branding {
  display: flex;
  justify-content: space-around;
  margin: 0px 20px 50px;
}
.branding .brandingdiv {
  width: 100px;
  cursor: pointer;
  align-items: center;
}
.branding .brandingdiv p {
  visibility: hidden;
  text-align: center;
}
.branding .brandingdiv:hover p {
  visibility: visible;
  color: #f4645a;
  transition: 2s;
}

.video {
  width: 300px;
  justify-self: center;
  align-self: center;
  -webkit-box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
}

.comdisdiv {
  display: flex;
  align-items: center;
  color: #f4645a;
  justify-content: space-between;
  margin: 30px;
}
.comdisdiv img {
  -webkit-box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 58px 25px rgba(0, 0, 0, 0.78);
}
.comdisdiv p {
  font-family: unkempt, Arial;
}

.enddiv {
  margin-bottom: 90px;
}

.solicitudform {
  color: #f4645a;
  display: flex;
  justify-content: center;
}

.ulform {
  list-style: circle;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f4645a;
  align-items: center;
  padding: 0 10px 0 4px;
  font-size: smaller;
}

.footer-div {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-self: center;
}
.footer-div img {
  width: 250px;
  align-self: center;
  height: min-content;
  margin-right: 50px;
}

.footer-parrafo {
  padding-top: 12px;
}

.misocial button {
  border: none;
  background-color: #f4645a;
}
.misocial button img {
  width: 2.5rem;
}

.navequipo {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 55px;
  right: 40px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10%;
}

.navequipo a {
  text-decoration: none;
  color: #f4645a;
}

@media screen and (max-width: 990px) {
  h1 {
    font-size: 3rem;
    padding: 30px;
  }
  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  h3 {
    padding: 30px;
    margin: 0;
  }
  .branding {
    display: flex;
  }
  .brandingdiv {
    display: flex;
    flex-direction: column;
  }
  .brandingdiv img {
    width: 2rem;
    height: 2rem;
  }
  .brandingdiv p {
    visibility: visible;
    color: #f4645a;
  }
  .video {
    display: none;
  }
  .comdisdiv {
    flex-direction: column;
  }
  .comdisdiv img {
    width: 300px;
    height: 275px;
  }
  .opinionform {
    align-items: center;
    margin: 0;
  }
  .footer-div img {
    display: none;
  }
}
.h3opinoines {
  text-align: start;
}

.opiniondiv {
  margin-left: 20px;
}

.opinion {
  color: #f4645a;
  width: 50%;
  font-family: unkempt, Arial;
  margin-top: 3%;
  margin-bottom: 3%;
}

.opinionform {
  color: #f4645a;
  margin: 0 15% 5% 0;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.inputfield, .inputtext {
  background-color: #1b1b1b;
  color: #f4645a;
}

.inputtext {
  height: 100pxpx;
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
