@use "../utilities/_variable" as *;

.branding {

    display: flex;
    justify-content: space-around;
    margin: 0px 20px 50px;
    
    .brandingdiv {

        width: 100px;
        cursor: pointer;
        align-items: center;

        p {

            visibility: hidden;
            text-align: center;
        }


        &:hover p{

            visibility: visible;
             color: $color-go;
             transition: 2s;
             
             
            }    
       }  
}

.video {

    width: 300px;
    justify-self: center;
    align-self: center;

    -webkit-box-shadow: 0px 0px 58px 25px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 0px 58px 25px rgba(0,0,0,0.78);
    box-shadow: 0px 0px 58px 25px rgba(0,0,0,0.78);
    
}