@use "../utilities/_variable" as *;

.footer {

    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-go;
    align-items: center ;
    padding-left: 4px;
    padding-right: 10px;
    font-size: smaller;
}

.footer-div {

    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-self: center;

    img {
        width: 250px;
        align-self: center;
        height: min-content;
        margin-right: 50px;
    }

}


.footer-parrafo {
    padding-top: 12px;
}

.misocial {

    button {

        border: none;
        background-color: $color-go;

        img {

            width: 2.5rem;
        }     
     }
}
