@use "../utilities/_variable" as *;


header {
    background-color: $color-go;

    img {
        width: 8rem;
        border-radius: 15%;
        transition: 1.5s;
        &:hover {
            border-radius: 30%;
            width: 9rem;

        }
    }

    .milinks {

        font-size: 13px;
    
    }

    .dropmenu {

        background-color: $color-go;
        overflow: hidden;

        li {
            & :hover {
                background-color: $color-black;
                color: $color-go;
                margin-left: 10px;
                transition: 1s;

            }
        }

    }

    .opiniones {

        display: block;
        color: black;
        transition: 1s;
        text-decoration: none;
        width: 5rem;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 10px;
        font-size: larger;
        padding: 1% 0;

        &:hover {
            color: #f4645a;
            background-color: black;
            border-color: #f4645a;

        }
     
    }

}









