@use "../utilities/_variable" as * ;


.h3opinoines {
    text-align: start;
 
    
}

.opiniondiv {
    margin-left: 20px;

}

.opinion {

    color: $color-go;
    width: 50%;
    font-family: $font-secondary ;
    margin-top: 3%;
    margin-bottom: 3%;
}

.opinionform {

    color: $color-go;
    margin: 0 15% 5% 0;
    display: flex;
    align-items: end;
    flex-direction: column

}

.inputfield {

    background-color: $color-background;
    color: $color-go;
 


}

.inputtext {

    @extend .inputfield;
    height: 100pxpx;
    width: 250px;
}
