@use "../utilities/variable" as *;

@mixin title ($tranform, $fontsize, $textalign) {
    text-transform: $tranform;
    font-size: $fontsize;
    text-align: $textalign;
    color: $color-go;
    font-family: $font-primary;
}

h1 {

    @include title(capitalize,4rem,center);


    margin-bottom: 7%;
    padding-top: 50px;
}



h2 {

    @include title(capitalize,2rem,end);
    margin: 0px 15% 5% 10px;

}

h3 {

    @include title(capitalize,1.5rem,center);
    margin: 0px 10px;

}




